<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer Risk Prediction</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
      <!-- Navbar -->
      <nav class="navbar">
        <ul class="navbar-list">
          <li>
            <a href="#" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="#sec1" class="navbar-link">Vision</a>
          </li>
          <li>
            <a href="/survey" class="navbar-link">Survey</a>
          </li>
          <li>
            <a href="#sec6" class="navbar-link">Publications</a>
          </li>
          <li>
            <a href="#footer" class="navbar-link">Contact Us</a>
          </li>
        </ul>
      </nav>
    
      <!-- About -->
      <div class="about">
        <div class="glass about-glass">
            <div class="about-info">
                <h1 class="scroll-h">Dr. Nanda Rajaneesh</h1>
                <div>
                    <p class="scroll-p">
                        An eminent Laparoscopic Surgeon and Surgical Oncologist, is the Founder and Chairman of the Society for Prevention of Cancer- SPOC.
                    </p>
                    <p class="scroll-p">
                        At SPOC, Dr. Nanda leads a team of dynamic young medical experts and talented individuals from other walks of life who volunteer their time and energy towards this noble cause.
                    </p>
                    <p class="scroll-p">
                        Dr. Nanda Rajaneesh is a GI Laparoscopic, breast, bariatric surgeon and surgical oncologist currently working at Apollo Spectra hospital, Koramangala, Bangalore and Sakra World hospital, Bangalore. She is the Founder director and chairman of SPOC ( Society for prevention of cancer). She has done her MBBS from JJM Medical college, Davangare, MS from Mysore Medical College. She holds Fellowship G.I She was the founding member of the team at Nova that pioneered the concept of short stay surgeries. As a leader, she is extensively involved in treating breast cancer and bringing awareness on breast cancer prevention. She has given many corporate lectures. She has published many papers and Author of three books 'life with fibromyalgia' ( which is based on her own story )and 'risk factors in breast cancer'.
                        Basically helps in preventing recurrence too. 
                    </p>
                    <p class="scroll-p">
                        Third book is "<span>Are you vegetarian allergic to foods</span>"
                        She just now completed surgical leadership program from Harvard. 
                        Graduate of Harvard university
                    </p>
                </div>
                
            </div>
            <div class="about-img">
                <!--<img src="static/images/photo.jpg" alt="">-->
            </div>
        </div>
        
    </div>  

    <!-- Hero -->
    <div class="hero">
   
        <div class="hero-info">
            <div >
                <h1 class="scroll-h">"Dr. Nanda Rajaneesh: Championing Cancer Prevention"</h1>
                <p  class="scroll-p"> Meet Dr. Nanda Rajaneesh, a trailblazer in Laparoscopic Surgery and Surgical Oncology, leading the charge against cancer through her work at SPOC.                </p>
                <p>
                    Discover Dr. Nanda's expertise in GI Laparoscopic, breast, and bariatric surgery at Apollo Spectra and Sakra World hospitals. Learn about her pioneering role in short-stay surgeries and her dedication to breast cancer awareness.
                </p>
                <!-- <a href="#" class="cta">Explore Your Personalized Plan</a> -->
            </div>
                <iframe id="hero-video" width="600" height="400"  src="https://www.youtube.com/embed/Ql0BB6dnVdw?autoplay=1&mute=1" title="Dr.Nanda Rajaneesh |Breast Cancer Surgeon in Bangalore | OncoSurgeon in Kormangala -Know Your Doctor" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
        </div>
        <!-- <svg id="hero-svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#fff" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,186.7C640,203,800,245,960,240C1120,235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg> -->
    </div>

    <!--Vision of the Project  -->
    <div id="sec1" class="section sec1">
        <h2 class="sec-heading scroll-h">Vision of the Project</h2>

        <div>
            <img src="static/images/cancer-book.jpg" alt="">
            <p class="scroll-p">The Cancer Prevention Guide is a visionary project aimed at providing comprehensive resources and actionable insights to empower individuals in their journey towards preventing cancer. With a focus on education and awareness, this guide endeavors to equip people with the knowledge and tools necessary to make informed lifestyle choices and reduce their risk of developing cancer.</p>
            
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#eaeaea" fill-opacity="1" d="M0,192L60,176C120,160,240,128,360,122.7C480,117,600,139,720,165.3C840,192,960,224,1080,218.7C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg> -->
    
    </div>
    <!-- Our Approach -->
    <div class="section sec2">
        <h2 class="sec-heading scroll-h">Our Approach</h2>
        <div>
            <p class="scroll-p">The Cancer Prevention Guide project employs an innovative approach by integrating machine learning (ML) implementation models into its framework. By leveraging ML algorithms and data analytics, the project can personalize recommendations and interventions based on individual risk profiles, genetic factors, and lifestyle patterns. Through continuous analysis of user data and feedback, the ML model enables the project to refine and optimize its strategies for maximum effectiveness.</p>
            <img src="static/images/apporach.jpg" alt="">
        </div>

            
    </div>

    <!-- Why Cancer Risk Prediction? -->
    <div class=" sec3">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#eaeaea" fill-opacity="1" d="M0,64L1440,128L1440,0L0,0Z"></path></svg> -->
        <h2  class="sec-heading scroll-h">Why Cancer Risk Prediction?</h2>
        <div>
            <p class="scroll-p"><span>Global Health Burden:</span> Cancer is one of the leading causes of death worldwide, presenting a significant public health challenge. Early detection and prevention can dramatically improve outcomes and survival rates.
            </p>
            <p class="scroll-p"><span>Preventive Healthcare:</span> Many cancer types are influenced by lifestyle choices and environmental factors. Predicting cancer risk empowers individuals to make informed decisions about their health, potentially preventing or delaying the onset of cancer through lifestyle modifications.
            </p>
            <p class="scroll-p"><span>Personalized Health Insights:</span> Every individual's risk of developing cancer is unique, influenced by a complex interplay of genetics, lifestyle, and environmental factors. Cancer risk prediction models provide personalized health insights, tailored to each individual's specific risk profile.
            </p>
            <p class="scroll-p"><span>Awareness and Education:</span> Such a tool can serve as an educational platform, increasing awareness about the various risk factors associated with cancer. This knowledge can encourage proactive health screenings and regular medical check-ups.</p>
        </div>
        <!-- <p></p> -->
    </div>

    <!-- Survey -->
    <div class=" sec4">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,192L120,165.3C240,139,480,85,720,85.3C960,85,1200,139,1320,165.3L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg> -->
        <h2 class="sec-heading scroll-h">Survey</h2>
        <div class="sec4-info">
            <div>
                <p class="scroll-p">The Cancer Risk Prediction Survey is an innovative tool designed to assess an individual's potential risk of developing cancer. This survey comprises a series of questions focused on various lifestyle, environmental, and health-related factors known to influence cancer risk.</p>
                <button  class="button scroll-h">
                    <span class="button-content"><a href="/survey">Take Survey</a></span>
                  </button>
                <!-- <button><a href="index.html">Take Survey</a></button> -->
            </div>
            <img src="static/images/survey.jpg" alt="">
        </div>
    </div>

    <!-- Research Publications -->
    <div id="sec6" class="section sec6">
        <h1 class="sec-heading scroll-h">Latest Research Publications</h1>
        
        <div class="sec6-slider">
            <div class="img-list">
                <img src="static/images/Publish4.jpg" alt="" srcset="">
                <img src="static/images/Publish1.jpg" alt="">
                <img src="static/images/Publish2.jpg" alt="">
                <img src="static/images/Publish3.jpg" alt="">
                <img src="static/images/Publish4.jpg" alt="" srcset="">
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
    
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
        
    </div>

    <!-- FAQ Section -->
    <div class="section sec7">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 311"><path fill="#fff" fill-opacity="1" d="M0,224L26.7,197.3C53.3,171,107,117,160,101.3C213.3,85,267,107,320,128C373.3,149,427,171,480,154.7C533.3,139,587,85,640,90.7C693.3,96,747,160,800,202.7C853.3,245,907,267,960,240C1013.3,213,1067,139,1120,101.3C1173.3,64,1227,64,1280,85.3C1333.3,107,1387,149,1413,170.7L1440,192L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg> -->
        <h2 class="sec-heading scroll-h">FAQ</h2>
        <div class="faq-container">
            <div class="faq-question scroll-p" onclick="toggleAnswer('faq1')"> What is cancer risk prediction?
            </div>
            <div class="faq-answer" id="faq1"> - Cancer risk prediction involves using data and models to estimate an individual's likelihood of developing cancer. This can be based on various factors like genetics, lifestyle, and environmental exposures.

            </div>
    
            <div class="faq-question scroll-p" onclick="toggleAnswer('faq2')">How does lifestyle affect cancer risk?
            </div>
            <div class="faq-answer" id="faq2">- Lifestyle factors such as smoking, diet, alcohol consumption, and physical activity significantly influence cancer risk. For instance, smoking increases the risk of lung and other cancers, while a healthy diet and regular exercise can reduce cancer risk.
            </div>

            <div class="faq-question scroll-p" onclick="toggleAnswer('faq3')">Can cancer risk prediction prevent cancer?
            </div>
            <div class="faq-answer" id="faq3"> - While it can't prevent cancer outright, accurate risk prediction helps in early detection and adopting healthier lifestyles, which can significantly lower the risk of developing cancer.
            </div>
    
            <div class="faq-question scroll-p" onclick="toggleAnswer('faq4')"> Is genetic testing important for cancer risk prediction?
            </div>
            <div class="faq-answer" id="faq4"> - Genetic testing can be crucial for certain cancers, especially if there's a family history of cancer, as it helps identify inherited cancer risks.
            </div>

            <div class="faq-question scroll-p" onclick="toggleAnswer('faq5')">  How accurate are cancer risk prediction models?
            </div>
            <div class="faq-answer" id="faq5">- The accuracy varies based on the model and the specific type of cancer. Advances in AI and machine learning have improved the accuracy significantly in recent years.
            </div>

            <!-- Add more FAQ items as needed -->
    
        </div>
            <!--<img src="static/images/faqq.jpg" alt="">-->
        
    </div>

    <!-- Footer -->
    <div id="footer" class="footer">
        <p><span>Contact Us:</span> +91 9845090342</p><br>
        <p>Social Media Links | Sign-up Form</p>
    </div>


    <script>
     
    
        // JavaScript function to toggle FAQ answers
        function toggleAnswer(faqId) {
                var answer = document.getElementById(faqId);
                if (answer.style.display === "block") {
                    answer.style.display = "none";
                } else {
                    answer.style.display = "block";
                }
        }
    
    
        let slider=document.querySelector('.sec6-slider .img-list');
        let items=document.querySelectorAll('.sec6-slider .img-list img');
        let dots=document.querySelectorAll('.btn');
        let prev=document.getElementById('prev');
        let next=document.getElementById('next');
    
        let active=0;
        let lengthItems=items.length-2;
       
    
        next.onclick= function(){
            if(active+1> lengthItems){
                active=0;
            }
            else{
                active=active+1;
            }
            
            reloadSlider();
    
        }
        prev.onclick = function(){
            active = active - 1 >= 0 ? active - 1 : lengthItems;
            reloadSlider();
        }
    
        let refreshInterval = setInterval(()=> {next.click()}, 60000);
    
        function reloadSlider(){
            slider.style.left = -items[active].offsetLeft + 'px';
    
            let lastActive= document.querySelector('.btn.active');
            lastActive.classList.remove('active');
            dots[active].classList.add('active');
    
            clearInterval(refreshInterval);
            refreshInterval = setInterval(()=> {next.click()}, 60000);
        }
    </script>
</body>
</html>